.error {
    color: indianred;
    font-size: 10.5px;
}

.title{
    font-size: 16px;
    text-decoration: underline;
}

.markdown-body {
    box-sizing: border-box;
    margin: 0 auto;
}

.input-label{
    color:gray;
}

select{
    display: list-item;
}