<div class="row">
    <hr />
    <a class="waves-effect waves-light btn" (click)="preview=false">Input</a>
    <a class="waves-effect waves-light btn" (click)="preview=true">Preview</a>
    <hr />

    <form class="col s12" *ngIf="preview === false">
        <div class="input-field col s12">
            <h6 class="input-label" >Title</h6>
            <input id="title" [(ngModel)]="ticket.title" type="text">
        </div>

        <div class="input-field col s12">
            <h6 class="input-label">Description</h6>
            <textarea id="Description" materializedTextarea [(ngModel)]="ticket.desc" class="materialize-textarea"></textarea>
        </div>

    </form>

    <div class="col s12" *ngIf="preview === true">
        <h5>{{ticket.title}}</h5>
        <article class="markdown-body" [innerHtml]="markdown()">
        </article>
    </div>

</div>